/* colors */
$primary-color: #141e30;
$secondary-color: #243b55;
$tertiary-color: #f2faff8b;
$accent-color: #f1faff;

/* font sizes */
$text-small: small;
$text-medium: medium;
$text-large: large;
$text-larger: larger;
$text-x-large: x-large;

/* padding */
$padding-20: 20px;
$padding-10: 10px;

/* round */
$round: 4px;